* {
    font-family: 'Poppins', sans-serif;
}
.header__inner {
    &-logo {
        font-weight: 600;
        color: aqua;
        text-align: center;
        font-size: 32px;
        text-transform: uppercase;
        text-decoration: none;
    }
    &-cart{
        text-align: center;
    }
}