@mixin button  {
    max-width: 60px;
    width: 100%;
    cursor: pointer;
    border: none;
}
@mixin slider-btns {
    max-width: 30px;
    width: 100%;
    opacity: 0.6;
    cursor: pointer;
    top: 40%;
    height: 40px;
    border: none;
    z-index: 999;
    position: absolute;
    transition: .3s;
}
@mixin clear-btn {
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    background: rgb(148, 0, 0);
    border: none;
    cursor: pointer;
    opacity: .6;
    transition: 1s;
}
// **********************
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
// HEADER 
.header {
    position: relative;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    padding-bottom: 70px;
    &__inner {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        &-logo {
            max-width: 200px;
            width: 100%;
            cursor: pointer;
        }
        &-cart {
            @include button();
            background: url(data:image/svg+xml,%3Csvg%20width%3D%2227%22%20height%3D%2224%22%20viewBox%3D%220%200%2027%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8.5%201.5C8.5%202.5%206%202.5%204.5%202.5C3%202.5%200.5%202.5%200.5%201.5C0.5%200.5%203%200.5%204.5%200.5C6%200.5%208.5%200.5%208.5%201.5ZM11.8212%2016.119C11.3452%2016.1949%2010.8829%2015.9206%2010.7214%2015.4665L7.48289%206.35812C7.24913%205.70067%207.74355%205.01199%208.44122%205.02324L25.8008%205.30317C26.425%205.31324%2026.8875%205.88644%2026.7654%206.49865L25.4106%2013.2909C25.3288%2013.701%2025.0004%2014.017%2024.5874%2014.0828L11.8212%2016.119ZM13.6523%2021.0331C13.6523%2022.3178%2012.6109%2023.3593%2011.3262%2023.3593C10.0415%2023.3593%209%2022.3178%209%2021.0331C9%2019.7484%2010.0415%2018.707%2011.3262%2018.707C12.6109%2018.707%2013.6523%2019.7484%2013.6523%2021.0331ZM22.957%2023.3593C24.2417%2023.3593%2025.2832%2022.3178%2025.2832%2021.0331C25.2832%2019.7484%2024.2417%2018.707%2022.957%2018.707C21.6723%2018.707%2020.6309%2019.7484%2020.6309%2021.0331C20.6309%2022.3178%2021.6723%2023.3593%2022.957%2023.3593Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E%0A) center/contain no-repeat;
            background-size: 50%;
            opacity: .6;
            transition: .3s;
        }
        &-cart:hover {
            opacity: 1;
        }
        &-search {
            max-width: 800px;
            width: 100%;
            padding: 10px;
            text-align: center;
            border-radius: 9px;
            background: white;
            cursor: pointer;
            border: none;
            outline: none;
            opacity: .3;
            transition: 1s;
        }
        &-search:hover {
            opacity: .6;
        }
        &-search:focus {
            opacity: 1;
        }
    }
}

// MAIN
.main {
    border-radius: 50px;
    position: relative;
    background:  white;
    top: -50px;
    padding: 60px 0;
    &__inner {
        // SLIDER
        .slider {
            max-width: 100%;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            border-radius: 20px;
            &-line {
                display: flex;
                transition: all ease 1s;
                z-index: 2;
            }
            &-line:hover {
                opacity: .6;
                cursor: pointer;
            }
            .slider-prev {
                @include slider-btns();
                background: url(../assets/images/slider/prev.png) no-repeat center;
                background-size: 110%;
                margin-left:10px;
            }
            .slider-next {
                @include slider-btns();
                background: url(../assets/images/slider/next.png) no-repeat center;
                right: 0;
                margin-right:10px;
                background-size: 110%;
            }
            .slider-prev:hover {
                opacity: 1;
            }
            .slider-next:hover {
                opacity: 1;
            }
        }
    }
}

// CARDS
.cards {
    background-color: white;
    border-radius: 50px;
    padding-bottom: 100px;
    position: relative;
    top: 50px;
    z-index: 9;
&__list {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 50px;
    .card-item {
        max-width: fit-content;
        width: 100%;
        &-link {
            cursor: pointer;
        }
        .card-item__img-wrap {
            & img {
                height: 320px;
                max-width: 220px;
                width: 100%
            }
            position: relative;
            .card-discount {
                position: absolute;
                bottom: -5px;
                left: 10px;
                background-color: pink;
                border-radius: 30%;
                padding: 2px;
            }
            .card-open {
                position: absolute;
                top: 45%;
                left: 15%;
                padding: 8px 16px;
                background-color: rgb(242, 255, 251);
                cursor: pointer;
                border: none;
                border-radius: 40px;
                opacity: .0;
                transition: .5s;
            }
            .card-open:hover {
                opacity: 1;
            }
            .card-tocart {
                position: absolute;
                right: 30px;
                bottom: -5px;
                padding: 20px;
                border-radius: 100%;
                background: url(data:image/svg+xml,%3Csvg%20width%3D%2227%22%20height%3D%2224%22%20viewBox%3D%220%200%2027%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8.5%201.5C8.5%202.5%206%202.5%204.5%202.5C3%202.5%200.5%202.5%200.5%201.5C0.5%200.5%203%200.5%204.5%200.5C6%200.5%208.5%200.5%208.5%201.5ZM11.8212%2016.119C11.3452%2016.1949%2010.8829%2015.9206%2010.7214%2015.4665L7.48289%206.35812C7.24913%205.70067%207.74355%205.01199%208.44122%205.02324L25.8008%205.30317C26.425%205.31324%2026.8875%205.88644%2026.7654%206.49865L25.4106%2013.2909C25.3288%2013.701%2025.0004%2014.017%2024.5874%2014.0828L11.8212%2016.119ZM13.6523%2021.0331C13.6523%2022.3178%2012.6109%2023.3593%2011.3262%2023.3593C10.0415%2023.3593%209%2022.3178%209%2021.0331C9%2019.7484%2010.0415%2018.707%2011.3262%2018.707C12.6109%2018.707%2013.6523%2019.7484%2013.6523%2021.0331ZM22.957%2023.3593C24.2417%2023.3593%2025.2832%2022.3178%2025.2832%2021.0331C25.2832%2019.7484%2024.2417%2018.707%2022.957%2018.707C21.6723%2018.707%2020.6309%2019.7484%2020.6309%2021.0331C20.6309%2022.3178%2021.6723%2023.3593%2022.957%2023.3593Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E%0A) center/contain no-repeat rgb(218, 160, 212);
                background-size: 60%;
                border: none;
                cursor: pointer;
                transition: 1s;
            }
            .card-tocart:hover {
                background-color: rgb(174, 199, 30);
            }
        }
        .card-item__info {
            padding-top: 10px;
            &-price {
                padding: 0 8px;
                display: flex;
                gap: 15px;
                &-discount {
                    max-width: min-content;
                }
            }
            &-description {
                padding: 0 8px;
            }
        }
    }
}
}

.card-item li.hide {
    display: none;
}

// CART
.cart {
    position:fixed;
    z-index: 999999999;
    display: none;
    max-width: 2000px;
    width: 100%;
    background: white;
    border: solid black;
    // margin: 0px 10px;
    border-radius: 10px;
    padding: 10px 20px;
    .clear-cart:hover {
        opacity: 1;
    }
    .close-cart {
        cursor: pointer;
        border: none;
        background: rgb(255, 38, 38);
        color: white;
        border-radius: 100%;
        height: 20px;
        width: 20px;
        position: absolute;
        top: -5px;
        right: -5px;
    }
    .items-list {
        & li {
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
        }
    }
    .summ {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
    }
}
.clear-cart {
    position: relative;
    left: 43%;
    @include clear-btn();
}
.clear-item {
    @include clear-btn();
}
// Footer
.footer {
    padding:100px;
    z-index: 0;
    background: radial-gradient(circle, rgb(62, 94, 250) 20%, rgba(252,70,107,1) 100%);
    &__inner {
        margin: 0 auto;
        text-align: center;
        & a {
            color: white;
            text-decoration: none;
            opacity: .6;
            transition: .3s;
        }
        & a:hover {
            opacity: 1;
        }
    }
}
